extends layout

block content
  h1= pageTitle
  section
    p
      | I try to keep a close eye on all of my pages. 
      | Sometimes they wander off and get lost. 
      | This is one of those times.