extends layout

block content
  img#logo(src='/images/header-logo.png', alt='LocalAdventures')

  h1 Discover free things
    br
    | to do around you.
  a.btn.primary(href='/search') Find an Adventure
