extends layout

block header
  link(href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css', rel='stylesheet')
  //if lt IE 8
    link(href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css', rel='stylesheet')

block footer
  script.
    window.adventures = JSON.parse('!{JSON.stringify(adventures)}');
  script(src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js')
  script(src="/js/map.js")

block content
  menu
    img#logo(src='/images/header-logo.png', alt='Local Adventures')
    dl
      dt Settings
      dd.adventures: a My Adventures
      dd.settings: a Account Settings
      dd.logout: a Logout

  #map

  aside
    .icon.nature.checked
    .icon.accessibility.checked
    .icon.sports.checked
    .icon.arts.checked
    .icon.pets.checked
    .icon.sights.checked
    .icon.food.checked
